.choose-model{

    display:flex;
    flex-direction:column;    
    font-family: var(--font-open-sans);
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    

}

.choose-model-title{

    color:var(--text-primary);

    font-family:'Open Sans',sans-serif;

    font-size:20px;

    font-weight:500;
    color: #CECFD2;

}

.choose-model-tabs{

    display:flex;
    max-width: max-content;
    color: #94979C;
    gap:8px;
    background: #071528;
    border: 0.1px solid #22262f;
    border-radius: 12px;
    margin-bottom: 21.6px;

}

.tab{

    height:38px;

    padding:0 18px;

    background: transparent;
    border: 1px solid transparent;

    border-radius: 7px;

    color: #94979C;

    cursor: pointer;
    transition: 0.3s;
    font-family: var(--font-open-sans);
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
}

.tab:hover{

    color:var(--text-primary);

}

.tab.active {
    background: #264064;
    color: #CECFD2;

    border-left: 1px solid #22262F;
    border-right: 1px solid #22262F;
}

@media(max-width:768px){

    .choose-model-title{

        font-size:18px;

    }


    .choose-model-tabs{

        max-width:100%;

        overflow-x:auto;

    }


    .tab{

        padding:0 14px;

        white-space:nowrap;

        font-size:14px;

    }

}