body{

    margin:0;

}

.model-page{

    min-height:100%;

    display:flex;

    gap:30px;

    padding:16px;

}

.left-side{

    flex:1;

}

.right-side{

    width:370px;

}
.viewer-bottom{
    display:flex;
    gap:40px;
    margin-top:20px;
    align-items:flex-start;
}