.viewer{

    position:relative;

    /*width:65vw;

    height:60vh;
    width:1248px;

    height:550px;*/
    width:65vw;

    height:60vh;
    border-radius:14px;

    overflow:hidden;
    /*-------*/
    border: 1.5px solid #252B37;
}

/*.viewer::before{
    content: "";
  position: absolute;
  inset: 0;
  padding: 0.7px; /* debljina bordera */
  /*border-radius: inherit;

  background:linear-gradient(
        70deg,
        #050E1A 0%,
        #0A1C35 10%,
        #264064 40%
    );
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);

  -webkit-mask-composite: xor;
  mask-composite: exclude;

  pointer-events: none;
}*/
.viewer-title{

    position:absolute;

    left:50%;

    transform:translateX(-50%);

    text-align:center;

}

.viewer-title h3{

    color:white;

    font-size:18px;

    font-weight:600;
    /*-------*/
    margin-bottom: 0px;
    font-family: var(--font-open-sans);
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    color: rgb(247, 247, 247);
    text-shadow: rgba(7, 21, 40, 0.8) 0px 1px 8px;

}

.viewer-title p{

    color:#999;
    /*-------*/
    margin: 4px 0px 0px;
    font-family: var(--font-open-sans);
    font-size: 14px;
    line-height: 20px;
    color: var(--silver);
    text-shadow: rgba(7, 21, 40, 0.8) 0px 1px 8px;

}

.model-image{

    width:70%;

    height:70%;

    object-fit:contain;
    position: relative;
    margin-top: 10vh;
    margin-left: 10vw;

}
/* FULLSCREEN MODE */

.viewer.fullscreen {

    position: fixed;
    top:0;
    left:0;

    width:100vw;
    height:100vh;

    z-index:9999;

    background:#050E1A;

}



/* DONJI LEVI KONTROLER */

.cursor-controls {

    position:absolute;
    display: flex;
    flex-direction: row;
    background: #071528;
    border-radius: 8px;
    border: 0.5px solid #22262F;
    bottom:20px;
    left:20px;
    display:flex;

}

.viewer.fullscreen {

    margin: 20px 20px 10px 15px;
    max-width: 95%;
    max-height: 95%;
    background: linear-gradient(
        194deg,
        #050E1A 0%,
        #0A1C35 50%,
        #264064 100%
    );;

}


.icon-button,
.fullscreen-button {

    border:none;

    width:32px;
    height:30px;

    border-radius:8px;
    background:#071528;

    display:flex;
    justify-content:center;
    align-items:center;

    cursor:pointer;

}
.fullscreen-button{
    
    border: 1px solid #373A41;
}


.icon-button.active {

    background:#264064;
    border: 0.5px solid #22262F;

}



.icon-button img,
.fullscreen-button img {

    width:16px;
    height:16px;
    margin: 2px;
}



/* DONJI DESNI FULLSCREEN */

.fullscreen-button {

    padding: 17px;

    bottom:20px;
    right:20px;

}

.zoom-controls {

    position: absolute;

    left: 50%;
    bottom: 20px;

    transform: translateX(-50%);

    display: flex;

    background: #071528;

    border: 1px solid #373A41;

    border-radius: 8px;

    overflow: hidden;

}

.zoom-btn {

    width: 30px;
    height: 30px;

    border: none;
    background: transparent;

    color: #61656C;

    font-size: 20px;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

}

.zoom-value {

    width: 60px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;

    font-size: 14px;

}

/* Jedan border između elemenata */

.zoom-btn:first-child,
.zoom-value {

    border-right: 1px solid #373A41;

}
.viewer-actions {

    position: absolute;

    right: 20px;
    bottom: 20px;

    display: flex;

    gap: 1px;

}
.reset-button {

    height: 15px;

    padding: 0 14px;

    display: flex;
    align-items: center;
    gap: 5px;

    border: 1px solid #373A41;
    border-radius: 8px;

    background: #071528;

    color: white;
    padding: 17px;
    cursor: pointer;

}

.reset-button img {

    width: 15px;
    height: 15px;

}

.reset-button span {

    font-size: 14px;
    font-weight: 500;

}

.view-badge {

    position: absolute;

    top: 20px;
    right: 20px;

    width: 60px;
    height: 60px;

    border: 1.5px solid #3E4784;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

}

.view-number {

    color: #CECFD2;

    font-size: 14px;
    font-weight: 600;

    line-height: 1;

}

.view-text {

    color: #CECFD2;

    font-size: 10px;
    font-weight: 600;

    line-height: 1;

    margin-top: 2px;

}

.rotate-hint {

    position: absolute;

    top: 20px;
    left: 22px;

    display: flex;
    align-items: center;

    gap: 8px;

    cursor: pointer;

}

.rotate-icon {

    width: 17px;
    height: 17px;

    flex-shrink: 0;

}

.rotate-text {

    width: 96px;
    height: 20px;

    color: #94979C;

    font-size: 14px;
    font-weight: 600;

    display: flex;
    align-items: center;

}
.fullscreen-background{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
        194deg,
        #050E1A 0%,
        #0A1C35 50%,
        #264064 100%
    );
    z-index: 9998;

}
.not-visible{
    display: none;
}
@media(max-width:1600px){
    .viewer{

        position:relative;

        /*width:65vw;

        height:53vh;
        width:950px;

        height:540px;*/

        border-radius:14px;

        overflow:hidden;

    }
}

@media(max-width:1440px){
    .viewer{

        position:relative;

        /*width:65vw;

        height:52vh;
        width:900px;

        height:540px;*/

        border-radius:14px;

        overflow:hidden;

    }
}
/*@media(max-width:1024px){
    .viewer{
        width: 600px;
        height: 450px;
    }
}*/
@media(max-width:768px){


    .viewer{

        width:100%;

        height: clamp(280px, 38vh, 420px);
        min-height: 280px;
        background: linear-gradient(
        230deg,
        #050E1A 0%,
        #0A1C35 75%,
        #264064 100%
    );

    }



    .model-image{

        width:85%;

        height:70%;

        margin-top:40px;

        margin-left:7.5%;

    }



    .viewer-title{

        display: none;

    }



    .view-badge{

        width:50px;

        height:50px;

        top:15px;

        right:15px;

    }



    .rotate-hint{

        top:15px;

        left:15px;

    }



    .rotate-text{

        font-size:12px;

        width:auto;

    }






    .reset-button span{

        display:none;

    }


}

@media(max-width:768px){

    .cursor-controls,
    .zoom-controls,
    .viewer-actions{

        height:32px;

        display:flex;

        align-items:center;

    }


    .cursor-controls{

        display: none;

    }


    .icon-button{

        width:32px;

        height:32px;

        display:flex;

        align-items:center;

        justify-content:center;

        padding:0;

    }


    .zoom-controls{

        bottom:15px;
        left: 15px;
        transform: none;

    }


    .viewer-actions{

        bottom:15px;

        right:15px;

        

    }


    .reset-button{

        width:34px;

        height:34px;

        padding:0;

        display:flex;

        align-items:center;

        justify-content:center;

    }
    .reset-button img{
        width: 14px;
        height: 14px;
    }
    .fullscreen-button{
        display: none;
    }

}